archspec
blinker
boltons
Brotli
certifi
cffi
charset-normalizer
click
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda-package-streaming
cryptography
distro
Flask
Flask-SQLAlchemy
Flask-WTF
frozendict
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
libmambapy
MarkupSafe
menuinst
packaging
platformdirs
pluggy
pycosat
pycparser
PySocks
requests
ruamel.yaml
setuptools
SQLAlchemy
tqdm
truststore
typing_extensions
urllib3
Werkzeug
wheel
WTForms
zstandard
